h1{
    color: green;
}
p{
    color: red;
}
button{
    color: rgb(241, 241, 241);
    background-color: green;
}
body{
    background-color: #ffff00;
    /* background-color: rgb(255,0,0); */
    /* background-color:#0000ff; */
}